
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=checkout
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

PAYMENT_BASE_URL=https://api-sandbox.co.uat.wompi.dev/v1

PAYMENT_PUBLIC_KEY=
PAYMENT_PRIVATE_KEY=

PAYMENT_EVENTS_SECRET=
PAYMENT_INTEGRITY_KEY=

RUN_SEED=true

BASE_FEE_CENTS=4900
DEFAULT_DELIVERY_FEE_CENTS=12000

VITE_API_BASE_URL=http://localhost:3001
VITE_WOMPI_BASE_URL=https://api-sandbox.co.uat.wompi.dev/v1
VITE_WOMPI_PUBLIC_KEY=
